Django
Celery
django-qstash
django-celery-results
django-celery-beat
jupyter
rav
pre-commit
python-dotenv
langchain
langchain-community
langchain-brightdata
langchain[openai]
langchain[google-genai]
langgraph